<%include ../partials/header%>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h2>All camps</h2>
      <p>
        <a class="btn btn-primary btn-lg" href="/campgrounds/new"
          >Add new camps</a
        >
      </p>
    </div>
  </header>
  <div class="row" style="display:flex; flex-wrap: wrap;text-align: center">
    <% camps.forEach(function(camp){ %>
    <div class="col-md-3 col-sm-6">
      <div class="thumbnail">
        <img src="<%=camp.url%>" alt="camp img of <%=camp.name%>" />
        <div class="caption">
          <h4><%=camp.name%></h4>
          <a class="btn btn-primary" href="/campgrounds/<%=camp._id%>"
            >More Info
          </a>
        </div>
      </div>
    </div>

    <% }); %>
  </div>
</div>
<%include ../partials/footer%>
<!--  ../ for moving one directory above because we moved files in separate folders -->
