<h6 style="width:100%;padding:5 px;margin-bottom:0px;background:turquoise;position:fixed;bottom: 0% "><b>Trademark</b></h6>
</body>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<link
rel="stylesheet"
type="text/css"
media="screen"
href="/stylesheets/main.css"
/>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</html>